.tec {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.conteudo {
    width: 50%;
}

p {
    text-indent: 30px;
}

span {
    font-size: 27px;
}

h2 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 22px;
}

.icone {
    width: 150px;
    margin-right: 20px;
}

#tecsSlider {
    width: 100%;
    height: 100%;
}

